.header0 {
    display: flex;
    justify-content: space-between;
    background-color: #f6f8fa;
    min-height: 40px;
    padding: 8px;
    border-radius: 6px;
}

.number {
    background: #2d353c;
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    border-radius: 3px;
    font-size: 12px;
    color: #fff;
    align-items: center;
    margin-right: 8px;
}
.casinoname{
    font-weight: 600;
    font-size: 16px;
    color: #2d353c;
    text-decoration: none;
    margin: 0;
    line-height: 1.1;
    letter-spacing: 0px;
    font-family:'Roboto', sans-serif;
    margin-top: 4px;
}
.rating {
    line-height: 1.1;
    font-size: 14px;
    letter-spacing: 0px;
    font-family: 'Roboto', sans-serif;
    padding-top: 5px;
    font-weight: bold;
}
.header1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.bonus{
    color: #627380;
    font-size: 12px;
    line-height: 1;
    font-weight: 400;
    margin-bottom: 8px;
    text-transform: uppercase;    
    line-height: 1.1;
    letter-spacing: 0px;
    font-family:'Roboto', sans-serif;
}
.catchPhrase {
    font-weight: 600;
    text-decoration: none;
    font-size: 20px;
    color: #2d353c;
    margin-bottom: 5px;
    display: block;
    margin-top: -4px;
    line-height: 1.1;
    letter-spacing: 0px;
    font-family:'Roboto', sans-serif;

}
.voucher {
    border: 1px dashed #febf8c;
    border-radius: 6px;
    line-height: 18px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: #fd7c41;
    width: max-content;
    cursor: pointer;
    font-weight: 700;
    transition: .25s;
    padding: 3px 6px;
    margin-top: 0;
    font-size: 12px;
    line-height: 1.1;
    letter-spacing: 0px;
    font-family:'Roboto', sans-serif;
}
.code{
    font-weight: 700;
    position: relative;
    white-space: nowrap;
    line-height: 1.1;
    letter-spacing: 0px;
    font-family:'Roboto', sans-serif;
}
.tick{
    background: #1e85fe;
    line-height: 1.1;
    letter-spacing: 0px;
    font-family:'Roboto', sans-serif;
}
.cross{
    background: #80909d;
    line-height: 1.1;
    letter-spacing: 0px;
    font-family:'Roboto', sans-serif;
}
.screenshotImg {
    /* display: block; */
    max-width: 100%;
    height: auto;
}
.body0 {
    background-color:rgba(0,0,0,.06);
}
.body1 {
    color: #80909d;
    font-weight: 600;
    font-size: 12px ;
    display: flex;
    letter-spacing: 0px;
    flex-direction: column;
    align-items: flex-start;
}
.buttonInfo{
    border-radius: 8px;
    border: 1px solid black;
    
    font-family: Poppins,HelveticaNeueLTPro,-apple-system,BlinkMacSystemFont,Roboto,Ubuntu,Droid Sans,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-weight: 600;
    color: black;
    line-height: 1.6;
    text-align: center;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 16px;
    font-size: 16px;
    /* min-width: auto; */
    width: 100%;
    letter-spacing: 0px;
}
.buttonInfo:hover {
    background-color:#dae8f2;
    color:#000
}
.buttonDiv{
    border: 1px solid rgba(0,0,0,0);
    margin-top: -2px;
    margin-bottom: 5px;
    /* pointer-events: none; */
    cursor: pointer;
    width:"100%"
}
.buttonOrange {
    text-decoration: none;
    border-radius: 8px;
    border: 1px solid rgba(0,0,0,0);
    background-color: #fd8b57;
    font-family: Poppins,HelveticaNeueLTPro,-apple-system,BlinkMacSystemFont,Roboto,Ubuntu,Droid Sans,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-weight: 600;
    color: #fff;
    line-height: 1.6;
    text-align: center;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 16px;
    font-size: 16px;
    /* min-width: auto; */
    width: 100%;
    letter-spacing: 0px;
    margin-top: 5px;
}
.buttonOrange:hover {
    background-color: #fe712f;
    color:#fff
}
.text {
    color: #627380;
    font-size: 12px;
    line-height: 1;
    font-weight: 400;
    margin-bottom: 8px;  
    line-height: 1.1;
    letter-spacing: 0px;
    font-family:'Roboto', sans-serif;
    text-align: left;
}
.link{
    text-decoration: none;
    border-bottom: 1px solid black;
    color: black;
    font-size: 12px;
    line-height: 1;
    font-weight: 400;
    margin-bottom: 8px;  
    line-height: 1.1;
    letter-spacing: 0px;
    font-family:'Roboto', sans-serif;
    text-align: left;
    cursor: pointer;
}
.link:hover{
    border: none;
    color: black;
    font-size: 12px;
    line-height: 1;
    font-weight: 400;
    margin-bottom: 8px;  
    line-height: 1.1;
    letter-spacing: 0px;
    font-family:'Roboto', sans-serif;
    text-align: left;
}