@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
body {
  /* letter-spacing: 0.15em; */
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;

}

/* a {
  color: inherit;
  text-decoration: none;
} */

* {
  box-sizing: border-box;
}

.banner {
  /* background-image: url("https://i.ibb.co/pb9612d/240-F-372005208-ZBq-Xe2-FQd-Fi-Cey-PKy-Kxhyoma5-Ygv-Xinw.webp"), linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
  /* height: 475px; */
  width: 100%;
  background-color: rgba(0, 0, 0, .5);
}

.best {

  background-color: #35c193;
  color: #fff;
  border-radius: 2px;
}

.care {
  height: 475px;
}

.care-lg-image {
  width: 30%;
  height: 300px;
  position: absolute
}

.care-sm-image {
  width: 14%;
  height: 100px;
  position: absolute;
  z-Index: 2;
  left: 20%;
  top: 50%
}

.block-helpline__item-title {
  display: block;
  font-weight: 700;
  font-size: 24px;
  line-height: 43px;
  text-transform: uppercase;
  color: #292929;
}

.block-helpline__item-subHeader {
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  text-transform: uppercase;
  color: #292929;
}


.block-helpline__item-details {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #5E5E5E;
}

.top-card {
  border: 2px solid #35c193 !important;
  border-radius: 10px !important;
}

.top-button {
  background-color: #35c193 !important;
}

.ag {
  color: #000;
  /* text-transform: uppercase; */
  text-decoration: none !important;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

.ag::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  background: none repeat scroll 0 0 transparent;
  height: 2px;
  width: 0;
  background: #35c193;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.ag:hover::after {
  width: 100%;
  left: 0;
}

.ag:hover {
  color: #35c193 !important;
}

.dropbtn {
  /* background-color: transparent;
  color: white;
  padding: 16px;

  font-size: 16px;
  border: none; */
  text-transform: capitalize
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 25px;
  background-color: #35c193;
  border-radius: 5px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #fff;
  color: #35c193;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* .dropdown:hover .dropbtn {
  background-color: #3e8e41;
} */

.underline--magical {
  background: linear-gradient(120deg, #35c193 100%, #ea384d 0%);
  background-repeat: no-repeat;

  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;

}

.underline--magical:hover {
  background-size: 100% 88%;
}

.footer-bg {
  background: #35c193;
}

.read-or-hide {
  color: #35c193;
  text-decoration: underline;
  cursor: pointer;
}

.show-more {
  text-decoration: underline;

}

.show-more:hover {
  color: #35c193;

  cursor: pointer;
  transition: "color 0.3s ease-in-out"
}


.content-item {

  word-break: break-word;

  font-size: 18px;
  line-height: 1.6;
  text-align: left;
  color: #1e2327;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-box-direction: normal;
  box-sizing: inherit;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
  border-radius: 12px;
  margin-bottom: 16px;
  border: 1px solid rgba(30, 35, 39, .1);
  background: #fff;
  padding: 32px;
  min-height: 480px;
}

.content-item__flex {

  word-break: break-word;

  font-size: 18px;
  line-height: 1.6;
  text-align: left;
  color: #1e2327;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-box-direction: normal;
  box-sizing: inherit;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding-bottom: 29px;
  margin-bottom: 24px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid #eef1f3;
}

.content-item__title {

  word-break: break-word;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-box-direction: normal;
  box-sizing: inherit;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  margin: 0;

  font-weight: 600;
  font-size: 16px;
  margin-bottom: 0;
  color: #2d353c;
  line-height: 24px;
}

.content-item__pic {

  word-break: break-word;

  font-size: 18px;
  line-height: 1.6;
  text-align: left;
  color: #1e2327;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-box-direction: normal;
  box-sizing: inherit;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  height: 20px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-shrink: 0;
  margin-bottom: 0;
  margin-left: 24px;
  width: 32px;
}

.discover-more__items-column-block {

  word-break: break-word;

  font-size: 18px;
  line-height: 1.6;
  text-align: left;
  color: #1e2327;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-box-direction: normal;
  box-sizing: inherit;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

/* Style the accordion section */
.accordion__section {
  display: flex;
  flex-direction: column;
  align-items: center;

}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #35c193;
  color: #fff;
  cursor: pointer;
  /* padding: 18px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  outline: none;
  transition: background-color 0.6s ease;
  width: 50%;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:hover,
.active {
  background-color: #288f6d;
}

/* Style the accordion content title */
.accordion__title {

  font-weight: 600;
  font-size: 18px;

}

/* Style the accordion chevron icon */
.accordion__icon {
  margin-left: auto;
  transition: transform 0.6s ease;
}

/* Style to rotate icon when state is active */
.rotate {
  transform: rotate(90deg);
}

/* Style the accordion content panel. Note: hidden by default */
.accordion__content {

  /* background-color: #35c19292; */
  overflow: hidden;
  transition: max-height 0.6s ease;
  width: 50%;
  text-align: left;
}

/* Style the accordion content text */
.accordion__text {

  font-weight: 400;
  font-size: 18px;
  margin: 0 18px;
  padding-left: 5px;
  border-left: 4px solid #35c193;
}